# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data files
*.pkl.gz
!part1/theta.pkl.gz

# Jupyter
.ipynb_checkpoints/
